table{
  width:100%;
  table-layout: fixed;
}

.tbl-header{
  background-color: #ea6153;
    font-weight: 900;
    color: #ffffff;
 }

#datatableheader{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.tbl-content{
  /* The line below is the table height*/
  height: 70vh;
  overflow-x:auto;
  margin-top: 0px;
}


th{
  padding: 10px 15px;
  text-align: center;
  font-weight: bolder;
  font-size: 17px;
  color: #fff;
  background: #ea6153;
}

td{
  padding: 10px;
  text-align: center;
  vertical-align:middle;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #3b3b3b;
  border-bottom: solid 1px
    rgba(255,255,255,0.1);
  /*background: ;*/
}


tr:nth-of-type(even) {
  background: #f6f6f6;
}
tr:nth-of-type(odd){
    background: #e9e9e9
}

/* demo styles */

/* the gradient thing
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
}
*/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background: #2b2b2b;
  font-family: Arial;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #3b3b3b;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: #2b2b2b;
  background: white url(images/background.png);
}

section{
  margin: 20px 10px 10px 20px;
}




/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 15px;
    background: #eeeeee;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(20,20,20,0.3);
}


/*Mobile Responsive*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 1px solid #ccc; }

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
    font-size: 14px;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
    color: #ea6153;
    font-weight: bold;
    font-size: 14px;
		/*top: ;*/
		left: 20px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;

	}
  tr:nth-of-type(even) {
  background: #f6f6f6;
  }
  tr:nth-of-type(odd){
    background: #e9e9e9
  }

	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Date - Time"; }
	td:nth-of-type(2):before { content: "Raw Volume"; }
	td:nth-of-type(3):before { content: "Last Valid"; }
	td:nth-of-type(4):before { content: "New Volume"; }
    td:nth-of-type(5):before { content: "Cumulative Volume"; }
    td:nth-of-type(6):before { content: "Status"; }
}

