<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'records/style.css' %}"/>
    <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    {% block head %}
    {% endblock %}


    <title>{% block title %}urOvol
    {% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <!--<span class="glyphicon glyphicon-home" aria-hidden="true"></span>-->
                Urovol
            </a>
        </div>


        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="{% url 'records:index' %}">
                        <span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>&nbsp;
                        Records
                    </a>
                </li>
            </ul>

            <!--<form class="navbar-form navbar-left" role="search" method="get" action="#">-->
                <!--<div class="form-group">-->
                    <!--<input type="text" class="form-control" name="q" value="" placeholder="Search a device code...">-->
                <!--</div>-->
                <!--<button type="submit" class="btn btn-default">Search</button>-->
            <!--</form>-->

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="{% url 'records:pi-add' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
                        Manually Add Device
                    </a>
                </li>
                <!--<li class="">-->
                    <!--<a href="{% url 'records:logout_user' %}">-->
                        <!--<span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Log Off-->
                    <!--</a>-->
                <!--</li>-->
            </ul>

        </div>
    </div>
</nav>

    {% block body %}
    {% endblock %}
</body>
</html>