{% extends 'records/base.html' %}

{% block head %}
  <!--<meta http-equiv="refresh" content="10">-->
  <meta charset="UTF-8">

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<style type="text/css">
${demo.css}
		</style>
		<script type="text/javascript">
            $(function () {

                var chartDataUrl = "{% url 'chart_data_json' %}?pi={{ pi.pk }}";
//                chartDataUrl =
//                        'https://www.highcharts.com/samples/data/jsonp.php?filename=aapl-c.json&callback=?';

                $.getJSON(chartDataUrl, function (data) {
                    // Create the chart

                    Highcharts.stockChart('container', {


                        title: {
                            text: 'Patient Data'
                        },

                        credits: {
                            enabled: false
                        },

                        rangeSelector: {
                            enabled: true,
                            allButtonsEnabled: true,

                            buttons: [{
                                type: 'minute',
                                count: 30,
                                text: 'min'
                            }, {
                                type: 'hour',
                                count: 1,
                                text: 'hr'
                            },{
                                type: 'day',
                                count: 1,
                                text: 'd'
                            },{
                                type: 'day',
                                count: 2,
                                text: '2d'
                            },{
                                type: 'week',
                                count: 1,
                                text: 'wk'
                            }, {
                                type: 'month',
                                count: 1,
                                text: 'mon'
                            }, {
                                type: 'all',
                                text: 'All'
                            } ],
                            selected: 3
                        },

//                        tooltip: {
//                            valueSuffix: 'ml'
//                        },


                        xAxis: {
                            title: {
                                text: 'Date/Time'
                            }
                        },

                        yAxis: {
                            title: {
                                text: 'Volume'
                            }
                        },

                        series: [{
                            name: 'Vol',
                            data: data,
                            tooltip: {
                                valueDecimals: 2
                            }
                        }]
                    });
                });

            });
		</script>


  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'records/reset.css' %}">
  <link rel="stylesheet" href="{% static 'records/style_detail.css' %}">
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

  <script src="js/index.js"></script>
{% endblock %}



{% block title %}
Patient Data
{% endblock %}



{% block body %}
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

<div class="container-fluid songs-container">

    <div class="row">

        <div class="col-sm-12 col-md-12 divalign2">
            <div class="panel panel-default">
                <div class="panel-body">


                    <div id="datatableheader">Data for Session {{pi.code}}</div>


                    <div id="container" style="height: 400px; min-width: 310px">

                    </div>




                    </br>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <section>
                          <div  class="tbl-header">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                    <th>Date - Time </th>
                                    <th>Raw Vol</th>
                                    <th>Last Valid Volume</th>
                                    <th>New Volume</th>
                                    <th>Cumulative Volume</th>
                                    <th>Status</th>
                                </thead>
                            </table>
                          </div>

                            <table cellpadding="0" cellspacing="0" border="0" class = "table">
                              <tbody>
                                 {% for data in dataset %}
                                <tr>
                                    <td>
                                        {{ data }}
                                    </td>
                                    <td>
                                        {{ data.raw_vol }}
                                    </td>
                                    <td>
                                        {{ data.las_vol }}
                                    </td>
                                    <td>
                                        {{ data.new_vol }}
                                    </td>
                                    <td>
                                        {{ data.cum_vol }}
                                    </td>
                                    <td>
                                        {{ data.status }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>

                            </table>

                    </section>


                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}