{% extends 'records/base.html' %}

{% block head %}
  <!--<meta http-equiv="refresh" content="10">-->
  <meta charset="UTF-8">

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<style type="text/css">
${demo.css}
		</style>
        <script>
            var params = "?pi={{ pi.pk }}";
        </script>

        {% for k in consts %}
            <script>
                params += "&" + "{{k.n}}" + "=" + "{{k.v}}";
            </script>
        {% endfor %}

		<script type="text/javascript">
            var graph1 = "{% url 'chart_data_json' %}?pi={{ pi.pk }}";
            var graph2 = "{% url 'all_data_json' %}" + params;
            var graph3 = JSON.parse("[{{times}}]")["0"];

            var seriesOptions = [],
            seriesCounter = 0,
            names = ['Raw', 'Simulated', 'Real'];
            var urls = [graph1, graph2];
            var err = [];

            function createChart() {
                // Create the chart

                var simulated_data_array;
                var real_data_array;

                for(series in seriesOptions) {
                    if(seriesOptions[series]["name"] === "Simulated") {
                        simulated_data_array = seriesOptions[series]["data"];
                    }
                    if(seriesOptions[series]["name"] === "Real") {
                        real_data_array = seriesOptions[series]["data"];
                    }
                }

                var found;
                var count = 0;
                for(var i = 0; i < real_data_array.length; i++) {

                    found = simulated_data_array.filter(function(item) {
                        return(Math.abs(parseInt(real_data_array[i.toString()]["0"]) - parseInt(item["0"])) < 5000);
                    });

                    if(found.length > 0) {
                        var avg = 0;
                        for(var point in found) {
                            if(typeof found[point]["1"] !== 'NaN') {
                                avg += found[point]["1"];
                            }
                        }
                        avg = avg/found.length;
                        err[count] = (Math.abs(real_data_array[i.toString()]["1"] - avg)/real_data_array[i.toString()]["1"]);
                        count++;
                    }
                }

                var sum = 0;
                var c = 0;
                for(var i = 0; i < err.length; i++) {
                    if(err[i] != Infinity) {
                        sum += err[i];
                        c++;
                    }
                }
                err = Math.round(sum*10000/c)/100;

                if(err.toString() === 'NaN') {
                    document.getElementById("error").innerHTML = "Insert real data";
                } else {
                    document.getElementById("error").innerHTML = "Average Percentage Error: " + err.toString() + "%";
                }

                var dataJson = {

                    title: {
                        text: 'Patient Data'
                    },

                    credits: {
                        enabled: false
                    },

                    plotOptions: {
                        line: {
                            allowPointSelect: true,
                            dataLabels: {
                                enabled: false
                            }
                        }
                    },


                    rangeSelector: {
                        enabled: true,
                        allButtonsEnabled: true,

                        buttons: [{
                            type: 'minute',
                            count: 30,
                            text: 'min'
                        }, {
                            type: 'hour',
                            count: 1,
                            text: 'hr'
                        }, {
                            type: 'day',
                            count: 1,
                            text: 'd'
                        }, {
                            type: 'day',
                            count: 2,
                            text: '2d'
                        }, {
                            type: 'week',
                            count: 1,
                            text: 'wk'
                        }, {
                            type: 'month',
                            count: 1,
                            text: 'mon'
                        }, {
                            type: 'all',
                            text: 'All'
                        }],
                        selected: 6
                    },

                    xAxis: {
                        title: {
                            text: 'Date/Time'
                        }
                    },

                    yAxis: {
                        title: {
                            text: 'Volume'
                        },
                        floor: 0,
                        minorGridLineColor: '#F0F0F0',
                        minorTickInterval: 'auto'
                    },

                    tooltip: {
                        pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b><br/>',
                        valueDecimals: 2,
                        split: true,
                        valueSuffix: 'ml'
                    },

                    series: seriesOptions,

                };

                Highcharts.stockChart('container', dataJson);
            }

            var n = -1;

            $.each(names, function (i, name) {
                n += 1;
                if(name !== "Real") {
                    $.getJSON(urls[n], function (data) {
                        seriesOptions[i] = {
                            name: name,
                            data: data
                        };
                        // As we're loading the data asynchronously, we don't know what order it will arrive. So
                        // we keep a counter and create the chart when all the data is loaded.
                        seriesCounter += 1;

                        if (seriesCounter === names.length) {
                            createChart();
                        }

                        console.log("Printing the graph: " + name);
                    });
                } else {
                    seriesOptions[i] = {
                        name: name,
                        data: graph3,
                        marker: {
                            enabled: true,
                            radius: 4
                        },
                        shadow: false
                    };
                    // As we're loading the data asynchronously, we don't know what order it will arrive. So
                    // we keep a counter and create the chart when all the data is loaded.
                    seriesCounter += 1;

                    if (seriesCounter === names.length) {
                        createChart();
                    }

                    console.log("Printing the graph: " + name);
                }
            });
		</script>


  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'records/reset.css' %}">
  <link rel="stylesheet" href="{% static 'records/style_detail.css' %}">
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

{% endblock %}



{% block title %}
Simulation {{ pi.code }}
{% endblock %}



{% block body %}
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

<div class="container-fluid songs-container">

    <div class="row">

        <div class="col-sm-12 col-md-12 divalign2">
            <div class="panel panel-default">
                <div class="panel-body">


                    <div id="datatableheader">Simulation for Session {{pi.code}}</div>


                    <div id="container" style="height: 400px; min-width: 310px">

                    </div>

                    <br>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <div align="center" style="font-size: 30px" id="error">
                            Average Percentage Error:
                    </div>

                    <form action="{% url 'simul' pi.id %}" style="display: inline;" method="post">
                        {% csrf_token %}
                    <section>
                          <div  class="tbl-header">
                            <table cellpadding="0" cellspacing="0" border="0">
                                <thead>
                                    <th>Raw Data: Blue</th>
                                    <th>Simulated Data: Black</th>
                                    <th>Real Data: Green</th>
                                </thead>
                            </table>
                          </div>

                            <table cellpadding="0" cellspacing="0" border="0" class = "table">
                              <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td rowspan="5">

                                        <label for="data">Copy and Paste Excel Cells: </label></br>
                                        {% csrf_token %}
                                        <textarea id="data" name="data" rows="17" cols="30">{{ real }}</textarea>

                                    </td>
                                </tr>

                                {% for k in consts %}
                                    <tr>
                                        <td>
                                        </td>
                                        <td>

                                            <label for="{{k.n}}">{{k.d}}</label><br>
                                            <input id="{{k.n}}" type="text" name="{{k.n}}" value="{{k.v}}">

                                        </td>
                                    </tr>
                                {% endfor %}

                               <tr>
                                  <td colspan="3"><input type="submit" value="Submit"></td>
                              </tr>
                        </tbody>
                            </table>

                    </section>

                    </form>

                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}